header {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px;
    font-size: min(3vw, 24px);
}

header h1 {
  grid-column: 2;
  margin: 0;
  justify-self: center;
  align-self: center;
}

.center {
  text-align: center;
  margin: auto;
}

html {
    font-family: Arial, sans-serif;
    color: #F4F4F4;
    height: 100%;
    background: linear-gradient(235deg, #f74040, #ffa31c, #237400);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 16s ease infinite;
    -moz-animation: AnimationName 16s ease infinite;
    animation: AnimationName 16s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 97%}
    50%{background-position:100% 4%}
    100%{background-position:0% 97%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 97%}
    50%{background-position:100% 4%}
    100%{background-position:0% 97%}
}
@keyframes AnimationName {
    0%{background-position:0% 97%}
    50%{background-position:100% 4%}
    100%{background-position:0% 97%}
}

table {
    position: relative;
    border-collapse: separate;
    border-spacing: 0 1em;
    margin: auto;
}

img {
    position: absolute;
    z-index: 1;
}

tr {
    height: 60px;
}

.team-rank {
    border-radius: 15px 0 0 15px;
}

.team-pts {
    border-radius: 0 15px 15px 0;
}

td {
    background: rgb(49, 49, 49);
    font-size: 24px;
    padding: 0 20px;
}
